@using Indra.Model.Models
@model Indra.Model.Models.Portafolio

@{
    ViewBag.Title = "Eliminar";
}

@if (!string.IsNullOrEmpty(ViewBag.ErrorCode) || !string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        @if (!string.IsNullOrEmpty(ViewBag.ErrorCode))
        { @ViewBag.ErrorCode<br /> }
        @{
            var errors = ViewBag.ErrorMessage.ToString().Split('|');
            foreach (var error in errors)
            {
                @error<br />;
            }
        }
    </div>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>Cancelar portafolio</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Portafolios")">Lista</a>
            </li>
            <li class="active">
                <strong>Cancelar portafolio</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-4">
        <div class="title-action">
            @if (Model.EstadoId != (int)Enums.EstadoType.Anulado)
            {
                <a href="@Url.Action("Edit", "Portafolios", new { id = Model.Id })" class="btn btn-primary btn-sm" title="Editar"><i class="fa fa-pencil-square-o"></i> Editar</a>
            }
            <a href="@Url.Action("Index", "Portafolios")" class="btn btn-white btn-sm" title="Volver a la lista"><i class="fa fa-arrow-left"></i> Volver a la lista</a>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    
                    <h4 class="text-danger">¿Seguro que quieres cancelar esto?</h4>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="m-b-md">
                                <h2>Portafolio: <strong>@Html.DisplayFor(model => model.NumDocument)</strong></h2>
                            </div>
                            <dl class="dl-horizontal">
                                <dt>Status:</dt>
                                <dd>
                                    <span class="label @(Model.EstadoId.Equals(2) ? "label-success" : "label-primary"))">@Html.DisplayFor(model => model.Estado.Name)</span>
                                </dd>
                                <dt>@Html.DisplayNameFor(model => model.CategoriaComponente):</dt>
                                <dd> @Html.DisplayFor(model => model.CategoriaComponente.Name) </dd>
                            </dl>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <dl class="dl-horizontal">
                                <dt>@Html.DisplayNameFor(model => model.Name):</dt>
                                <dd> @Html.DisplayFor(model => model.Name) </dd>
                                <dt>@Html.DisplayNameFor(model => model.Description):</dt>
                                <dd> @Html.DisplayFor(model => model.Description) </dd>
                            </dl>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-8">
                            <dl class="dl-horizontal">
                                <dt>@Html.DisplayNameFor(model => model.ResponsableId):</dt>
                                <dd> @Html.DisplayFor(model => model.Responsable.Id) </dd>

                                <dt>@Html.DisplayNameFor(model => model.Responsable):</dt>
                                <dd> @Html.DisplayFor(model => model.Responsable.FullName) </dd>

                                <dt>@Html.DisplayNameFor(model => model.PrioridadId):</dt>
                                <dd> @Html.DisplayFor(model => model.Prioridad.Id) </dd>

                                <dt>@Html.DisplayNameFor(model => model.Prioridad):</dt>
                                <dd> @Html.DisplayFor(model => model.Prioridad.Name) </dd>
                            </dl>

                        </div>
                        <div class="col-lg-4">
                            <dl class="dl-horizontal">
                                <dt>@Html.DisplayNameFor(model => model.CreateDate):</dt>
                                <dd> @Html.DisplayFor(model => model.CreateDate) </dd>

                                <dt>@Html.DisplayNameFor(model => model.EditDate):</dt>
                                <dd> @Html.DisplayFor(model => model.EditDate) </dd>

                                <dt>@Html.DisplayNameFor(model => model.UserId):</dt>
                                <dd> @Html.DisplayFor(model => model.UserId) </dd>
                            </dl>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-users"></i> Solicitudes</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-2"><i class="fa fa-cogs"></i> Programas</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-3"><i class="fa fa fa-wrench"></i> Proyectos</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-4"><i class="fa fa-files-o"></i> Documentos</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab-1" class="tab-pane active">
                                    <table class="footable table toggle-arrow-tiny table-hover" data-page-size="10">
                                        <thead>
                                            <tr>
                                                <th data-toggle="true">Cod. Solicitud Recurso</th>
                                                <th data-hide="phone">Fecha creación</th>
                                                <th data-hide="phone">Prioridad</th>
                                                <th data-hide="phone">Num. Proyecto</th>
                                                <th data-hide="phone">Recurso</th>
                                                <th data-hide="phone">Cantidad</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var proyecto in Model.Proyectos)
                                            {
                                                foreach (var solicitud in proyecto.SolicitudesRecurso)
                                                {
                                                    foreach (var recurso in solicitud.Recursos)
                                                    {
                                                        <tr>
                                                            <td> @Html.DisplayFor(modelItem => solicitud.Id)</td>
                                                            <td> @Html.DisplayFor(modelItem => solicitud.CreateDate)</td>
                                                            <td> @Html.DisplayFor(modelItem => solicitud.Prioridad.Name)</td>
                                                            <td> @Html.DisplayFor(modelItem => proyecto.NumDocument)</td>
                                                            <td> @Html.DisplayFor(modelItem => recurso.Recurso.Name)</td>
                                                            <td> @Html.DisplayFor(modelItem => recurso.Quantity)</td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="12">
                                                    <ul class="pagination pull-right"></ul>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div id="tab-2" class="tab-pane">
                                    <table class="footable table toggle-arrow-tiny table-hover" data-page-size="10">
                                        <thead>
                                            <tr>
                                                <th data-toggle="true">Num. Programa</th>
                                                <th data-hide="phone">Nombre</th>
                                                <th data-hide="phone">Fecha inicial</th>
                                                <th data-hide="phone">Prioridad</th>
                                                <th data-hide="phone">Responsable</th>
                                                <th data-hide="phone">Estado</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        @if (Model.Programas != null)
                                        {
                                            foreach (var programa in Model.Programas)
                                             {
                                                 <tr>
                                                     <td> @Html.DisplayFor(modelItem => programa.NumDocument)</td>
                                                     <td> @Html.DisplayFor(modelItem => programa.Name)</td>
                                                     <td> @Html.DisplayFor(modelItem => programa.StarDate)</td>
                                                     <td> @Html.DisplayFor(modelItem => programa.Prioridad.Name)</td>
                                                     <td> @Html.DisplayFor(modelItem => programa.Responsable.FullName)</td>
                                                     <td> @Html.DisplayFor(modelItem => programa.Estado.Name)</td>
                                                 </tr>
                                             }
                                        }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="12">
                                                    <ul class="pagination pull-right"></ul>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div id="tab-3" class="tab-pane">
                                    <table class="footable table toggle-arrow-tiny table-hover" data-page-size="10">
                                        <thead>
                                            <tr>
                                                <th data-toggle="true">Num. Proyecto</th>
                                                <th data-hide="phone">Nombre</th>
                                                <th data-hide="phone">Fecha inicial</th>
                                                <th data-hide="phone">Prioridad</th>
                                                <th data-hide="phone">Responsable</th>
                                                <th data-hide="phone">Estado</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        @if (Model.Proyectos != null)
                                        {
                                            foreach (var proyecto in Model.Proyectos)
                                             {
                                                 <tr>
                                                     <td> @Html.DisplayFor(modelItem => proyecto.NumDocument)</td>
                                                     <td> @Html.DisplayFor(modelItem => proyecto.Name)</td>
                                                     <td> @Html.DisplayFor(modelItem => proyecto.StarDate)</td>
                                                     <td> @Html.DisplayFor(modelItem => proyecto.Prioridad.Name)</td>
                                                     <td> @Html.DisplayFor(modelItem => proyecto.Responsable.FullName)</td>
                                                     <td> @Html.DisplayFor(modelItem => proyecto.Estado.Name)</td>
                                                 </tr>
                                             }
                                        }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="12">
                                                    <ul class="pagination pull-right"></ul>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div id="tab-4" class="tab-pane">
                                    <table class="footable table toggle-arrow-tiny table-hover" data-page-size="10" id="tblDocumentos" name="tblDocumentos">
                                        <thead>
                                            <tr>
                                                <th>@Html.DisplayNameFor(model => model.Documentos.FirstOrDefault().Id)</th>
                                                <th data-hide="phone">@Html.DisplayNameFor(model => model.Documentos.FirstOrDefault().NumDocument)</th>
                                                <th data-hide="phone">@Html.DisplayNameFor(model => model.Documentos.FirstOrDefault().FileName)</th>
                                                <th data-hide="phone">@Html.DisplayNameFor(model => model.Documentos.FirstOrDefault().Responsable)</th>
                                                <th data-hide="phone">@Html.DisplayNameFor(model => model.Documentos.FirstOrDefault().RemarkDocumento)</th>
                                                <th class="text-right">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Documentos != null)
                                            {
                                                foreach (var documento in Model.Documentos)
                                                {
                                                    <tr>
                                                        <td>@documento.Id</td>
                                                        <td>@documento.NumDocument</td>
                                                        <td>@documento.FileName</td>
                                                        <td>@documento.Responsable.FullName</td>
                                                        <td>@documento.RemarkDocumento</td>
                                                        <td class="text-right">
                                                            <div class="btn-group">
                                                                <a href="@Url.Action("DownloadFile", "Portafolios", new {id = documento.Id})" class="btn btn-default btn-sm" title="Descargar"><i class="fa fa-download"></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="12">
                                                    <ul class="pagination pull-right"></ul>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i> Cancelar</button>
                            <a href="@Url.Action("Index", "Portafolios")" class="btn btn-white btn-sm" title="Volver a la lista"><i class="fa fa-arrow-left"></i> Volver a la lista</a>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/plugins/footableStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/footable")

    <script type="text/javascript">
        $(document).ready(function () {

            $('.footable').footable();

        });
    </script>
}