@model Indra.Model.Models.Portafolio

@{
    ViewBag.Title = "Edit";
}

@if (!string.IsNullOrEmpty(ViewBag.ErrorCode) || !string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        @if (!string.IsNullOrEmpty(ViewBag.ErrorCode))
        {@ViewBag.ErrorCode<br />}
        @{
            var errors = ViewBag.ErrorMessage.ToString().Split('|');
            foreach (var error in errors)
            {
                @error<br />;
            }
        }
    </div>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Editar</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Lista", "Index")
            </li>
            <li class="active">
                <strong>Editar</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="@Url.Action("Index", "Portafolios")" class="btn btn-white btn-sm" title="Volver a la lista"><i class="fa fa-arrow-left"></i> Volver a la lista</a>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Editar Portafolio</h5>
                </div>
                <div class="ibox-content">

                    <div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content animated bounceInRight">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <i class="fa fa-laptop modal-icon"></i>
                                    <h4 class="modal-title">Documento</h4>
                                </div>
                                <div class="modal-body">
                                    <dl class="dl-horizontal">
                                        <dt>Código:</dt>
                                        <dd id="doc_id"></dd>

                                        <dt>Num. Documento:</dt>
                                        <dd id="doc_numdocument"></dd>

                                        <dt>Nombre de archivo:</dt>
                                        <dd id="doc_filename"></dd>
                                    </dl>
                                    
                                    <div class="form-group">
                                        <label>Observación:</label>
                                        @Html.TextArea("doc_remark", new { @class = "form-control text-box multi-line", @id = "doc_remark" })
                                    </div>

                                    <div class="form-group">
                                        <label>Responsable:</label>
                                        @Html.DropDownList("doc_responsableid", new SelectList(ViewBag.Responsables, "Value", "Text", 1), htmlAttributes: new { @class = "form-control" })
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-white" data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-primary" id="btnGrabarModal" name="btnGrabarModal">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    @using (Html.BeginForm("Edit", "Portafolios", FormMethod.Post, new { enctype = "multipart/form-data", id = "formPost" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.NumDocument)
                            @Html.HiddenFor(model => model.EstadoId)
                            @Html.HiddenFor(model => model.CreateDate)
                            @Html.HiddenFor(model => model.EditDate)
                            @Html.HiddenFor(model => model.UserId)

                            <div class="tabs-container">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#tab-1"> General</a></li>
                                    <li class=""><a data-toggle="tab" href="#tab-2"><i class="fa fa-users"></i> Programas</a></li>
                                    <li class=""><a data-toggle="tab" href="#tab-3"><i class="fa fa-cogs"></i> Proyectos</a></li>
                                    <li class=""><a data-toggle="tab" href="#tab-4"><i class="fa fa-files-o"></i> Documentos</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="tab-1" class="tab-pane active">
                                        <div class="panel-body">

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.Name)
                                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.Description)
                                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.CategoriaComponente, new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.DropDownList("CategoriaComponenteId", null, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.CategoriaComponenteId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Prioridad, new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.DropDownList("PrioridadId", null, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.PrioridadId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Responsable, new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.DropDownList("ResponsableId", null, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.ResponsableId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Remark, new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div id="tab-2" class="tab-pane">
                                        <div class="panel-body">

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Programas, new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    <div class="input-group">
                                                        @Html.DropDownList("ProgramaId", null, htmlAttributes: new { @class = "form-control" })
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn btn-primary" id="btnAddPrograma" name="btnAddPrograma"> <i class="fa fa-plus"></i> Agregar</button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <table class="footable table toggle-arrow-tiny table-hover" data-page-size="10" id="tblProgramas" name="tblProgramas">
                                                <thead>
                                                    <tr>
                                                        <th>@Html.DisplayNameFor(model => model.Programas.FirstOrDefault().Id)</th>
                                                        <th data-hide="phone">@Html.DisplayNameFor(model => model.Programas.FirstOrDefault().NumDocument)</th>
                                                        <th data-hide="phone">@Html.DisplayNameFor(model => model.Programas.FirstOrDefault().Name)</th>
                                                        <th class="text-right">Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.Programas != null)
                                                    {
                                                        foreach (var programa in Model.Programas)
                                                        {
                                                            <tr data-programaid='@programa.Id' data-programaname='@programa.NumAndName'>
                                                                <td>@programa.Id</td>
                                                                <td>@programa.NumDocument</td>
                                                                <td>@programa.Name</td>
                                                                <td><a href='javascript:void(0);' data-id='@programa.Id' class='btn btn-danger btn-xs deletePrograma'> Eliminar</a></td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="12">
                                                            <ul class="pagination pull-right"></ul>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>

                                        </div>
                                    </div>
                                    <div id="tab-3" class="tab-pane">
                                        <div class="panel-body">

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Proyectos, new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    <div class="input-group">
                                                        @Html.DropDownList("ProyectoId", null, htmlAttributes: new { @class = "form-control" })
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn btn-primary" id="btnAddProyecto" name="btnAddProyecto"> <i class="fa fa-plus"></i> Agregar</button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <table class="footable table toggle-arrow-tiny table-hover" data-page-size="10" id="tblProyectos" name="tblProyectos">
                                                <thead>
                                                    <tr>
                                                        <th>@Html.DisplayNameFor(model => model.Proyectos.FirstOrDefault().Id)</th>
                                                        <th data-hide="phone">@Html.DisplayNameFor(model => model.Proyectos.FirstOrDefault().NumDocument)</th>
                                                        <th data-hide="phone">@Html.DisplayNameFor(model => model.Proyectos.FirstOrDefault().Name)</th>
                                                        <th class="text-right">Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.Proyectos != null)
                                                    {
                                                        foreach (var proyecto in Model.Proyectos)
                                                        {
                                                            <tr data-proyectoid='@proyecto.Id' data-proyectoname='@proyecto.NumAndName'>
                                                                <td>@proyecto.Id</td>
                                                                <td>@proyecto.NumDocument</td>
                                                                <td>@proyecto.Name</td>
                                                                <td><a href='javascript:void(0);' data-id='@proyecto.Id' class='btn btn-danger btn-xs deleteProyecto'> Eliminar</a></td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="12">
                                                            <ul class="pagination pull-right"></ul>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>

                                        </div>
                                    </div>
                                    <div id="tab-4" class="tab-pane">
                                        <div class="panel-body">

                                            <div class="form-group">
                                                @Html.Label("Documento", new { @class = "control-label col-md-2" })
                                                <div class="col-md-2">
                                                    <span class="input-group-btn">
                                                        <label title="Upload file" for="uploadFile" class="btn btn-primary">
                                                            <i class="fa fa-file-o"></i> Subir archivo
                                                            <input type="file" accept="application/msword, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/pdf, image/*" name="uploadFile" id="uploadFile" class="hide">
                                                        </label>
                                                    </span>
                                                </div>
                                                @Html.Label(" ", new { @class = "col-md-8", @id = "fileName", @name = "fileName", style = "padding-top: 7px; margin-bottom: 0;" })
                                            </div>

                                            <div class="form-group">
                                                @Html.Label("Observación", new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.TextArea("RemarkDocumento", new { @class = "form-control text-box multi-line", @id = "RemarkDocumento" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.Label("Responsable", new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    <div class="input-group">
                                                        @Html.DropDownList("ResponsableIdDocumento", null, htmlAttributes: new { @class = "form-control" })
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn btn-primary" id="btnAddDocumento" name="btnAddDocumento"> <i class="fa fa-plus"></i> Agregar</button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <table class="footable table toggle-arrow-tiny table-hover" data-page-size="10" id="tblDocumentos" name="tblDocumentos">
                                                <thead>
                                                    <tr>
                                                        <th>@Html.DisplayNameFor(model => model.Documentos.FirstOrDefault().Id)</th>
                                                        <th data-hide="phone">@Html.DisplayNameFor(model => model.Documentos.FirstOrDefault().NumDocument)</th>
                                                        <th data-hide="phone">@Html.DisplayNameFor(model => model.Documentos.FirstOrDefault().FileName)</th>
                                                        <th data-hide="phone">@Html.DisplayNameFor(model => model.Documentos.FirstOrDefault().Responsable)</th>
                                                        <th data-hide="phone">@Html.DisplayNameFor(model => model.Documentos.FirstOrDefault().RemarkDocumento)</th>
                                                        <th class="text-right">Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.Documentos != null)
                                                    {
                                                        foreach (var documento in Model.Documentos)
                                                        {
                                                            <tr data-documentoid='@documento.Id' 
                                                                data-numdocument='@documento.NumDocument' 
                                                                data-filename='@documento.FileName'
                                                                data-remarkdocumento='@documento.RemarkDocumento'
                                                                data-responsableid='@documento.Responsable.Id'>
                                                                <td>@documento.Id</td>
                                                                <td>@documento.NumDocument</td>
                                                                <td>@documento.FileName</td>
                                                                <td id="td-@documento.Id-responsable">@documento.Responsable.FullName</td>
                                                                <td id="td-@documento.Id-remark">@documento.RemarkDocumento</td>
                                                                <td class="text-right">
                                                                    <div class="btn-group">
                                                                        <a href='javascript:void(0);' data-id='@documento.Id' class="btn btn-primary btn-sm editDocumento" title="Editar" data-toggle="modal" data-target="#myModal"><i class="fa fa-pencil-square-o"></i></a>
                                                                        <a href="@Url.Action("DownloadFile", "Portafolios", new {id = documento.Id})" class="btn btn-default btn-sm" title="Descargar"><i class="fa fa-download"></i></a>
                                                                        <a href='javascript:void(0);' data-id='@documento.Id' class="btn btn-danger btn-sm deleteDocumento" title="Eliminar"><i class="fa fa-trash-o"></i></a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="12">
                                                            <ul class="pagination pull-right"></ul>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Guardar" class="btn btn-primary" id="btnCreate" name="btnCreate" />
                                        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white" })
                                    </div>
                                </div>
                            </div>

                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")

<script type="text/javascript">
        $(document).ready(function () {

            $('#tblDocumentos').on('click', '.editDocumento', function () {

                var documentoId = $(this).closest('tr').data("documentoid");
                var numDocument = $(this).closest('tr').data("numdocument");
                var fileName = $(this).closest('tr').data("filename");
                var remarkDocumento = $(this).closest('tr').data("remarkdocumento");
                var responsableId = $(this).closest('tr').data("responsableid");

                $('#myModal')
                    .find('[id="doc_id"]').text(documentoId).end()
                    .find('[id="doc_numdocument"]').text(numDocument).end()
                    .find('[id="doc_filename"]').text(fileName).end()
                    .find('[id="doc_remark"]').val(remarkDocumento).end()
                    .find('[id="doc_responsableid"]').val(responsableId).end();
            });

            $("#btnGrabarModal").on("click", function () {
                var documentoId = $('#doc_id').text();
                var remark = $('#doc_remark').val();
                var responsableId = $("#doc_responsableid option:selected").val();
                var responsableName = $("#doc_responsableid option:selected").text();

                $('#myModal').modal('toggle');

                $.ajax({
                    url: '@Url.Action("UpdateFile")',
                    type: 'POST',
                    dataType: "json",
                    data: { id: documentoId, remark: remark, responsableId: responsableId }
                }).done(function (data) { });

                $('#td-' + documentoId + '-responsable').text(responsableName);
                $('#td-' + documentoId + '-remark').text(remark);
            });

            $('#uploadFile').change(function (e) {
                if (e.target.files.length > 0) {
                    $('#fileName').text(e.target.files[0].name);
                }
            });

            $('#tblDocumentos').on('click', '.deleteDocumento', function () {
                var documentoId = $(this).closest('tr').data("documentoid");
                var tr = $(this).closest('tr');
                $.ajax({
                    url: '@Url.Action("DeleteFile")',
                    type: 'POST',
                    dataType: "json",
                    data: { id: documentoId }
                }).done(function (data) {
                    tr.remove();
                    $("#uploadFile").focus();
                }).fail(function () {
                    $("#uploadFile").focus();
                });
            });

            $("#btnAddDocumento").click(function (e) {
                e.preventDefault();

                var formData = new FormData();
                var files = $("#uploadFile").get(0).files;

                if (files.length > 0) {
                    formData.append("PortafolioId", @Model.Id);
                    formData.append("ResponsableId", $("#ResponsableIdDocumento option:selected").val());
                    formData.append("Remark", $("#RemarkDocumento").val());
                    formData.append("UploadedFile", files[0]);

                    $.ajax({
                        url: '@Url.Action("UploadFile", "Portafolios")',
                        type: 'POST',
                        contentType: false,
                        processData: false,
                        dataType: "json",
                        data: formData
                    }).done(function (data) {

                        $("#tblDocumentos > tbody").append("<tr " +
                            "data-documentoid='" + data.Id + "' " +
                            "data-numdocument='" + data.NumDocument + "' " +
                            "data-filename='" + data.FileName + "' " +
                            "data-remarkdocumento='" + data.RemarkDocumento + "' " +
                            "data-responsableid='" + data.Responsable.Id + "'> " +

                            "<td>" + data.Id + "</td>" +
                            "<td>" + data.NumDocument + "</td>" +
                            "<td>" + data.FileName + "</td>" +

                            "<td id='td-" + data.Id + "-responsable'>" + data.Responsable.FullName + "</td>" +
                            "<td id='td-" + data.Id + "-remark'>" + data.RemarkDocumento + "</td>" +

                            "<td class='text-right'>" +
                            "<div class='btn-group'>" +
                            "<a href='javascript:void(0);' data-id=" + data.Id + " class='btn btn-primary btn-sm editDocumento' title='Editar' data-toggle='modal' data-target='#myModal'><i class='fa fa-pencil-square-o'></i></a>" +
                            "<a href='/Portafolios/DownloadFile/" + data.Id + "' class='btn btn-default btn-sm downloadDocumento' title='Descargar'><i class='fa fa-download'></i></a>" +
                            "<a href='javascript:void(0);' data-id=" + data.Id + " class='btn btn-danger btn-sm deleteDocumento' title='Eliminar'><i class='fa fa-trash-o'></i></a>" +
                            "</div>" +
                            "</td>" +
                            "</tr>");

                        $('#fileName').text("");
                        $("#RemarkDocumento").val("");
                        $("#uploadFile").focus();
                    }).fail(function () {
                        $("#uploadFile").focus();
                    });
                }
            });

            $('#btnAddPrograma').click(function (e) {
                e.preventDefault();

                var programaId = $("#ProgramaId option:selected").val();

                var isExist = false;

                $('#tblProgramas tr').each(function () {
                    if ($.trim($(this).find("td").eq(0).text()) == programaId) {
                        isExist = true;
                    }
                });

                if (!isExist) {
                    $.ajax({
                        url: '@Url.Action("GetPrograma")',
                        type: 'POST',
                        dataType: "json",
                        data: { id: programaId }
                    }).done(function (data) {

                        $("#tblProgramas > tbody").append("<tr " +
                            "data-programaid='" + programaId + "' " +
                            "data-programaname='" + data.NumAndName + "'> " +
                            "<td>" + data.Id + "</td>" +
                            "<td>" + data.NumDocument + "</td>" +
                            "<td>" + data.Name + "</td>" +
                            "<td><a href='javascript:void(0);' data-id=" + data.Id + " class='btn btn-danger btn-xs deletePrograma'> Eliminar</a></td>" +
                            "</tr>");

                        $("#ProgramaId").focus();
                        $("#ProgramaId option:selected").remove();
                    }).fail(function () {
                        $("#ProgramaId").focus();
                    });
                }
            });

            $('#tblProgramas').on('click', '.deletePrograma', function () {
                var programaId = $(this).closest('tr').data("programaid");
                var programaName = $(this).closest('tr').data("programaname");
                $(this).closest('tr').remove();
                $("#ProgramaId").append("<option value='" + programaId + "'>" + programaName + "</option>");
                $("#ProgramaId").html($('#ProgramaId option').sort(function(x, y) {
                    return $(x).text() < $(y).text() ? -1 : 1;
                }));
            });

            $('#btnAddProyecto').click(function (e) {
                e.preventDefault();

                var proyectoId = $("#ProyectoId option:selected").val();

                var isExist = false;

                $('#tblProyectos tr').each(function () {
                    if ($.trim($(this).find("td").eq(0).text()) == proyectoId) {
                        isExist = true;
                    }
                });

                if (!isExist) {
                    $.ajax({
                        url: '@Url.Action("GetProyecto")',
                        type: 'POST',
                        dataType: "json",
                        data: { id: proyectoId }
                    }).done(function (data) {

                        $("#tblProyectos > tbody").append("<tr " +
                            "data-proyectoid='" + proyectoId + "' " +
                            "data-proyectoname='" + data.NumAndName + "'>" +
                            "<td>" + data.Id + "</td>" +
                            "<td>" + data.NumDocument + "</td>" +
                            "<td>" + data.Name + "</td>" +
                            "<td><a href='javascript:void(0);' data-id=" + data.Id + " class='btn btn-danger btn-xs deleteProyecto'> Eliminar</a></td>" +
                            "</tr>");

                        $("#ProyectoId").focus();
                        $("#ProyectoId option:selected").remove();
                    }).fail(function () {
                        $("#ProyectoId").focus();
                    });
                }
            });

            $('#tblProyectos').on('click', '.deleteProyecto', function () {
                var proyectoId = $(this).closest('tr').data("proyectoid");
                var proyectoName = $(this).closest('tr').data("proyectoname");
                $(this).closest('tr').remove();
                $("#ProyectoId").append("<option value='" + proyectoId + "'>" + proyectoName + "</option>");
                $("#ProyectoId").html($('#ProyectoId option').sort(function (x, y) {
                    return $(x).text() < $(y).text() ? -1 : 1;
                }));
            });

            $("#btnCreate").on("click", function () {
                //PROGRAMA
                var listNameProgramas = "Programas";
                var qtd1 = 0;
                $("#tblProgramas > tbody > tr").each(function () {
                    var programaid = $(this).data("programaid");

                    $("#formPost").prepend("<input type='hidden' name='" + listNameProgramas + "[" + qtd1 + "].Id' value='" + programaid + "'>");
                    qtd1 += 1;
                });
                //PROYECTO
                var listNameProyectos = "Proyectos";
                var qtd2 = 0;
                $("#tblProyectos > tbody > tr").each(function () {
                    var proyectoid = $(this).data("proyectoid");

                    $("#formPost").prepend("<input type='hidden' name='" + listNameProyectos + "[" + qtd2 + "].Id' value='" + proyectoid + "'>");
                    qtd2 += 1;
                });
            });
        });
</script>
}