@using Indra.Model.Models
@model IEnumerable<Indra.Model.Models.Programa>

@{
    ViewBag.Title = "Index";
}

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-success alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        @{
            var messages = ViewBag.Message.ToString().Split('|');
            foreach (var message in messages)
            {
                @message<br />;
            }
        }
    </div>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Lista</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Programa</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Lista de Programas</h5>
                    <div class="ibox-tools">
                        <a href="@Url.Action("Create", "Programas")" class="btn btn-primary btn-sm"><i class="fa fa-plus-square-o"></i> Crear nuevo</a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("Index", "Programas", FormMethod.Get))
                    {
                        <div class="form-group">
                            <div class="input-group">
                                @Html.TextBox("search", ViewBag.Search as string, new { @class = "form-control", @placeholder = "Buscar " })
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn btn-primary"> <i class="fa fa-search"></i> Buscar</button>
                                </span>
                            </div>
                        </div>
                    }
                    <span class="pull-right small text-muted">@Model.Count() Elementos</span>
                    <table class="footable table toggle-arrow-tiny table-hover" data-page-size="10">
                        <thead>
                        <tr>
                            <th data-toggle="true">@Html.DisplayNameFor(model => model.NumDocument)</th>
                            <th data-hide="phone">@Html.DisplayNameFor(model => model.Name)</th>
                            <th data-hide="phone">@Html.DisplayNameFor(model => model.Responsable)</th>
                            <th data-hide="phone">@Html.DisplayNameFor(model => model.Prioridad)</th>
                            <th data-hide="phone">@Html.DisplayNameFor(model => model.StarDate)</th>
                            <th data-hide="phone">@Html.DisplayNameFor(model => model.FinalDate)</th>
                            <th class="text-right">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NumDocument)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Responsable.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prioridad.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StarDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FinalDate)
                                </td>
                                <td class="text-right">
                                    <div class="btn-group">
                                        <a href="@Url.Action("Details", "Programas", new {id = item.Id})" class="btn btn-primary btn-sm" title="Detalle"><i class="fa fa-external-link"></i></a>
                                        @if (item.EstadoId != (int) Enums.EstadoType.Anulado)
                                        {
                                            <a href="@Url.Action("Edit", "Programas", new {id = item.Id})" class="btn btn-white btn-sm" title="Editar"><i class="fa fa-pencil-square-o"></i></a>
                                            <a href="@Url.Action("Delete", "Programas", new {id = item.Id})" class="btn btn-danger btn-sm" title="Cancelar"><i class="fa fa-trash-o"></i></a>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="12">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/plugins/footableStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/footable")

    <script type="text/javascript">
        $(document).ready(function () {

            $('.footable').footable();

        });
    </script>
}